* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/*MAIN PAGE*/
/* Style the header */
.header {
  background-color: rgb(84, 111, 158);
  padding: 20px;
  text-align: center;
  color: lightgrey;
}

/* login bar general section */
.loginbar {
  overflow: hidden;
  background-color: #ddd;
}

/* log in word positioning */
.loginbar a {
  float: none;
  display: block;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* changes bar color when hover mouse */
.loginbar a:hover {
  background-color: rgb(69,141,152);
  color: white;
}

/* daily cases section */
.dailycases {
  float: left;
  width: 47%;
  height: 50%;
  padding: 10%;
  border-radius: 30px;
  margin: 20px;

  color: black;
  background-color: rgb(109, 180, 190);
  text-align: center;
  display:table;
}

/* weekly graph section */
.weeklygraph {
    float: left;
    width: 47%;
    height: 50%;
    padding: 10%;
    border-radius: 30px;
    margin: 20px;

    color: black;
    background-color: rgb(135, 160, 194);
    text-align: center;
}



/* vaccination rates section */
.vaccinationrates {
    float: left;
    width: 97%;
    height: 50%;
    padding: 10%;
    border-radius: 30px;
    margin: 20px;

    color: black;
    background-color: rgb(109, 180, 190);
    text-align: center;
}

/* external links section */
.externallinks {
  float: left;
  width: 99%;
  height: 25%
}

.externallinks a {
  float: none;
  display: block;
  
  padding: 1%;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;

  text-align: center;
  text-decoration: none;

  border-radius: 30px;
  color: black;
  background-color: rgb(135, 160, 194);
}

/* changes bar color when hover mouse */
.externallinks a:hover {
  background-color: rgb(69,141,152);
  color: white;
}

/* adjusting the columns based on screen size; try adjusting window to see this work, probably need to implement better way for mobile so it's less awkward */
@media screen and (max-width: 600px) {
  .column {
     width: 100%;
     height: auto;
     }
  }     

/* clearing the floats */
.sections:after {
  content: "";
  display: table;
  clear: both;
}


/*RESOURCE PAGE*/

.resourceheader {
  background-color: rgb(84, 111, 158);;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: lightgrey;
}

.resource {
  float: left;
  color: black;

  background-color: rgb(109, 180, 190);

  padding: 1%;
  margin: 10px;
  border-radius: 30px;
}

.resource p {
  font-size: 20px;
}

.resource a {
  font-size: 20px;
}


.resource1 {
  float: left;
  color: black;

  background-color: rgb(135, 160, 194);

  padding: 1%;
  margin: 10px;
  border-radius: 30px;
}

.resource1 p {
  font-size: 20px;
}

.resource1 a {
  font-size: 20px;
}

/*Button to go back to home page, can reuse on other pages too*/

.goback {
  text-align: center;
}

.goback a {
  font-size: 20px;
  color: black;
}
