* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: rgb(69,99,152);
  padding: 20px;
  text-align: center;
  color: lightgrey;
}

/* login bar general section */
.loginbar {
  overflow: hidden;
  background-color: #ddd;
}

/* log in word positioning */
.loginbar a {
  float: none;
  display: block;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* changes bar color when hover mouse */
.loginbar a:hover {
  background-color: rgb(69,141,152);
  color: white;
}

/* daily cases section */
.dailycases {
  float: left;
  width: 47%;
  height: 50%;
  padding: 10%;
  border-radius: 30px;
  margin: 20px;

  color: black;
  background-color:  rgb(124, 175, 141);
  text-align: center;
  display:table;
}

/* weekly graph section */
.weeklygraph {
    float: left;
    width: 47%;
    height: 50%;
    padding: 10%;
    border-radius: 30px;
    margin: 20px;

    color: black;
    background-color: rgb(117, 148, 189);
    text-align: center;
}



/* vaccination rates section */
.vaccinationrates {
    float: left;
    width: 97%;
    height: 50%;
    padding: 10%;
    border-radius: 30px;
    margin: 20px;

    color: black;
    background-color: rgb(124, 175, 141);
    text-align: center;
}

/* external links section */
.externallinks {
    float: left;
    width: 97%;
    height: 25%;
    padding: 2%;
    border-radius: 30px;
    margin: 20px;

    color: black;
    background-color: rgb(117, 148, 189);
    text-align: center;
}

/* adjusting the columns based on screen size; try adjusting window to see this work, probably need to implement better way for mobile so it's less awkward */
@media screen and (max-width: 600px) {
  .column {
     width: 100%;
     height: auto;
     }
  }     

/* clearing the floats */
.sections:after {
  content: "";
  display: table;
  clear: both;
}



